  <%
    var getHtmlCurrency = function(){
      return "<span class='currency'>" + ticker.currency + "</span>"
    }

    var getHtmlDiff = function(obj){
      return "<span class='diff " + obj.cssAlert + "'><i class='fa fa-arrow-" + obj.cssAlert + "'></i>("+ obj.percentage + "%)</span></span>";
    }
  %>

  <td class="icon">
    <img src="<%= ticker.iconUrl %>" alt="<%= ticker.name %>">
  </td>
  <td class="name">
    <a href="<%= ticker.siteUrl %>" title="<%= ticker.name %>" target="_blank"><%= ticker.name %></a>
  </td>
  <td class="last">
    <span class="price <%= ticker.css.last.cssPrice %>  <%= ticker.css.last.cssAlert %>"><%= ticker.last %><%= getHtmlCurrency()%></span>
    <%= getHtmlDiff(ticker.css.last) %>
  </td>
  <td class="buy">
    <span class="price <%=ticker.css.buy.cssPrice %> <%= ticker.css.buy.cssAlert %>"><%= ticker.buy %><%= getHtmlCurrency()%></span>
    <%= getHtmlDiff(ticker.css.buy) %>

  </td>
  <td class="sell">
    <span class="price <%=ticker.css.sell.cssPrice %> <%= ticker.css.sell.cssAlert %>"><%= ticker.sell %><%= getHtmlCurrency()%></span>
    <%= getHtmlDiff(ticker.css.sell) %>
  </td>
  <td class="volume">
    <%= ticker.volume %>
  </td>
  <td class="update">
    <%= ticker.update %>
  </td>

