  <%
    var getHtmlCurrency = function(){
      return "<span class='currency'>" + ticker.currency + "</span>"
    }

    var getHtmlDiff = function(alert){
      return "<span class='diff " + alert.css + "'><i class='fa fa-arrow-" + alert.css + "'></i>("+ alert.percentage + "%)</span></span>";
    }
  %>

  <td class="icon">
    <img src="<%= ticker.iconUrl %>" alt="<%= ticker.name %>">
  </td>
  <td class="name">
    <a href="<%= ticker.siteUrl %>" title="<%= ticker.name %>" target="_blank"><%= ticker.name %></a>
  </td>
  <td class="last">
    <span class="price <%=ticker.css.last%>  <%= ticker.alert.last.css %>"><%= ticker.last %><%= getHtmlCurrency()%></span>
    <%= getHtmlDiff(ticker.alert.last) %>
  </td>
  <td class="buy">
    <span class="price <%=ticker.css.buy%> <%= ticker.alert.buy.css %>"><%= ticker.buy %><%= getHtmlCurrency()%></span>
    <%= getHtmlDiff(ticker.alert.buy) %>

  </td>
  <td class="sell">
    <span class="price <%=ticker.css.sell%> <%= ticker.alert.sell.css %>"><%= ticker.sell %><%= getHtmlCurrency()%></span>
    <%= getHtmlDiff(ticker.alert.sell) %>
  </td>
  <td class="volume">
    <%= ticker.volume %>
  </td>
  <td class="update">
    <%= ticker.update %>
  </td>

