<table class="table" id="exchangers-table">
    <thead>
    <tr>
      <th width="15%">#</th>
      <th width="20%">Exchanger</th>
      <th width="15%">Precio</th>
      <th width="15%">Compra</th>
      <th width="15%">Venta</th>
      <th width="15%">Fecha</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><img src="https://www.mtgox.com/favicon.ico" alt="Mt.Gox"></td>
      <td>Mt.Gox</td>
      <td>500<span class="currency">$</span></td>
      <td><span class="up">506<span class="currency">$</span><span class="diff"><i class="fa fa-arrow-up"></i>(+3.5%)</span></span></td>
      <td>502<span class="currency">$</span></td>
      <td>10/05/1979</td>
    </tr>
    <tr>
      <td><img src="https://www.mtgox.com/favicon.ico" alt="Mt.Gox"></td>
      <td>Mt.Gox</td>
      <td><span class="down">500<span class="currency">$</span><span class="diff"><i class="fa fa-arrow-down"></i>(-3.5%)</span></span></td>
      <td>503<span class="currency">$</span></td>
      <td>502<span class="currency">$</span></td>
      <td>10/05/1979</td>
    </tr>
    <tr>
      <td><img src="https://www.mtgox.com/favicon.ico" alt="Mt.Gox"></td>
      <td>Mt.Gox</td>
      <td>500<span class="currency">$</span></td>
      <td>503<span class="currency">$</span></td>
      <td>502<span class="currency">$</span></td>
      <td>10/05/1979</td>
    </tr>
    <tr>
      <td><img src="https://www.mtgox.com/favicon.ico" alt="Mt.Gox"></td>
      <td>Mt.Gox</td>
      <td>500<span class="currency">$</span></td>
      <td>503<span class="currency">$</span></td>
      <td>502<span class="currency">$</span></td>
      <td>10/05/1979</td>
    </tr>
    <tr>
      <td><img src="https://www.mtgox.com/favicon.ico" alt="Mt.Gox"></td>
      <td>Mt.Gox</td>
      <td>500<span class="currency">$</span></td>
      <td>503<span class="currency">$</span></td>
      <td>502<span class="currency">$</span></td>
      <td>10/05/1979</td>
    </tr>
    </tbody>
  </table>
