/** General Section **/

//Variables
$background : #333;
$blue: #428bca;
$SidebarWidth: 220px;
$miniSidebarWidth: 100px;

$green : #468847;
$green_background : #dff0d8;
$green_border : #d6e9c6;

$red : #b94a48;
$red_background : #f2dede;
$red_border : #eed3d7;

$blue_background : #d9edf7;
$blue_border : #bce8f1;

.wrap {
  background-color: $background;
}

