extends templates/simple

block env
  - var title = 'Acerca de'
  - var icon = 'fa fa-cogs'


block content
  div.about
    h2 CoinSpider
    p
      | Es una herramienta diseñada para aprender a utilizar
      a(href='http://backbonejs.org/') Backbone.js
      |, una libreria Javascript basada en el patrón de diseño
      a(href='http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93presenter') MVP
      | (model-view-presenter).
    p
      | Me pareció apropiado iniciar un proyecto Backbone.js tomando como casos de uso las
      a(href='http://coinmarketcap.com/') cripto monedas
      | y operaciones bursátiles. Durante los últimos meses el valor de las principales cripto monedas
      | han tenido un incremento significativo originando un mayor interés en las operaciones bursátiles por parte
      | de la opinión pública.
    p
      | De tal manera, esta herramienta basada en HTML y Javascript (tu puedes ejecutarla en tu ordenador)
      | te permite conocer el cotización actual de las más importantes cripto monedas en las principales plataformas bursátiles.
    p
      | Coinspider soporta de momento las siguientes cripto monedas:
      ul
        li BTC / Mt.Gox
        li BTC / Bitstamp
        li BTC / Btc-e
        li BTC / BTCChina
        li BTC / Localbitcoins
        li LTC / Btc-e
        li trabajando en muchas mas
    h2 Desarrollo
    p
      | El proyecto es de código abierto, siente libre de colaborar o aprender de él. CoinSpider está basado en la filosfía de desarrollo Node.js
    p
      | A continuación te describo como ejecutar la versión de desarrollo en tu ordenador
    pre.
      $ git clone https://github.com/fuerbtc/coinspider.git
      $ cd coinspider
      $ bower install
      $ grunt
      $ cd dist/
      $ open index.html

    h2 Cosas por hacer
    ul
      li Agregar mas cripto monedas
      li Soporte para idiomas
      li Calculadora de comisiones

    h2 Log de cambios
    p v0.1
    ul
      li Release pública

    h2 Autor
    p
      |Creado por
      a(href="https://github.com/fuerbtc") Philippe Mindugui
    p
      | Si te gusta lo que hago y quieres motivarme a crear/mejorar funcionalidades,
      | puedes hacer una pequeña donación en alguna de las siguientes carteras:
      ul
        li
          | BTC
          code 1QKMjANav8JVB5TjiRQUj3rYN6bK9iDw8V
        li
          | LTC
          code LR74uDwYggPkSHiVKjjK9AdSzj6Qt9WB8n
    p
      | Si tienes cualquier duda o sugerencia. Escribeme un email
      code fuerbtc@gmx.de