extends templates/html

block env
  - var title = 'Acerca de'
  - var icon = 'fa fa-cogs'


block content
  article.markdown-body.entry-content(itemprop='mainContentOfPage')
    h2
      a.anchor(name='coinspider', href='#coinspider')
        span.octicon.octicon-link
      | CoinSpider
      p
        | This tool was designed primarily to learn
        a(href='http://backbonejs.org/') Backbone.js
        | ,
        | a Javascript library based on the
        a(href='http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93presenter') model-view-presenter
        | application design paradigm (yes, i'm a geek person).
      p
        | Besides due to my huge interest in
        a(href='http://coinmarketcap.com/') crypto-currencies
        | , I found it appropriate
        | to initiate a project involving these two subjects.
      p
        | So here we are: A tool based on HTML and Javascript (you can run it in your own computer)
        | that help you track the current value of the most important crypto-currencies on the market.
      p
        | If you like what I'm doing and you want to motivate me to create/improve features,
        | feel free to make a donation to one of my following wallets:
      ul
        li
          | BTC ->
          code 1QKMjANav8JVB5TjiRQUj3rYN6bK9iDw8V
        li
          | LTC ->
          code LR74uDwYggPkSHiVKjjK9AdSzj6Qt9WB8n
      h2
        a.anchor(name='crypto-currencies-supported', href='#crypto-currencies-supported')
          span.octicon.octicon-link
        | Crypto Currencies Supported
      ul
        li BTC / Mt.Gox
        li BTC / Bitstamp
        li BTC / Btc-e
      h2
        a.anchor(name='getting-started', href='#getting-started')
          span.octicon.octicon-link
        | Getting started
      p Just click on live version and have fun!
      h2
        a.anchor(name='development', href='#development')
          span.octicon.octicon-link
        | Development
      p Feel free to contribute to the project. Is based on Node.js work philosophy
      pre.

      h2
        a.anchor(name='todos', href='#todos')
          span.octicon.octicon-link
        | TODOS
      ul
        li i18n Support
        li Fee Exchange Calculator
        li Support more crypto-currencies
      h2
        a.anchor(name='changelog', href='#changelog')
          span.octicon.octicon-link
        | Changelog
      p v0.1
      ul
        li Public release
      p Created by Philippe Mindugui
      p
        | Contact:
        code fuerbtc@gmx.de
      p
        | Donate: BTC
        code 1QKMjANav8JVB5TjiRQUj3rYN6bK9iDw8V
        | | LTC
        code LR74uDwYggPkSHiVKjjK9AdSzj6Qt9WB8n
