extends templates/simple

block env
  - var title = 'Acerca de'
  - var icon = 'fa fa-cogs'


block content
  div.about
    h2 CoinSpider
    p
      | Esta herramienta fue diseñada en primer lugar para aprender a utilizar
      a(href='http://backbonejs.org/') Backbone.js
      |, una libreria Javascript basada en el patrón de diseño
      a(href='http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93presenter') MVP
      | (model-view-presenter).
    p
      | Además, debido a mi gran interés por las
      a(href='http://coinmarketcap.com/') cripto-monedas
      | , me pareció apropiado iniciar un proyecto en el que pudiese investigar ambos  temas.
    p
      | De tal manera, esta herramienta basada en HTML y Javascript (tu puedes ejecutarla en tu ordenador)
      | te permite conocer el valor actual de las más importantes cripto-monedas del mercado.
    p
      | Si te gusta lo que hago y quieres motivarme a crear/mejorar funcionalidades,
      | puedes hacer una pequeña donación en alguna de mis siguientes carteras:
      ul
        li
          | BTC
          code 1QKMjANav8JVB5TjiRQUj3rYN6bK9iDw8V
        li
          | LTC
          code LR74uDwYggPkSHiVKjjK9AdSzj6Qt9WB8n
    p
      | Coinspider soporta de momento las siguientes cripto-monedas:
      ul
        li BTC / Mt.Gox
        li BTC / Bitstamp
        li BTC / Btc-e
        li trabajando en muchas mas
    h2 Desarrollo
    p
      | Siente libre de colaborar con el proyecto. CoinSpider está basado en la filosfía de desarrollo Node.js
    pre.
      $ git clone https://github.com/fuerbtc/coinspider.git
      $ cd coinspider
      $ bower install
      $ grunt
      $ cd dist/
      $ open index.html

    h2 Cosas por hacer
    ul
      li Agregar mas cripto monedas
      li Soporte para idiomas
      li Calculadora de comisiones

    h2 Log de cambios
    p v0.1
    ul
      li Release pública

    h2 Autor
    p
      |Creado por
      a(href="https://github.com/fuerbtc") Philippe Mindugui
    p
      | Contacto
      code fuerbtc@gmx.de
    p
      | Donaciones
      ul
        li
          | BTC
          code 1QKMjANav8JVB5TjiRQUj3rYN6bK9iDw8V
        li
          | LTC
          code LR74uDwYggPkSHiVKjjK9AdSzj6Qt9WB8n