extends templates/html

block env
  - var title = 'Dashboard'
  - var icon = 'fa fa-dashboard'

block css
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.css")
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/noUiSlider/4.3.0/jquery.nouislider.min.css")

block content
  div.row
    div.col-lg-12
      div(class="panel-group",id="exchangerPanel")
        div(class="panel panel-default")
          div(class="panel-heading clearfix")
            div(class="icons")
              i(class="fa fa-btc")
            div(class="panel-title") itcoin Exchangers
            div(class="toolbar")
              ul.nav
                li#messages
                li#refreshAction.action
                  a(class="")
                    i(class="fa fa-refresh")
                li.action
                  a(id="configAction",class="",title="Configuracion")
                    i(class="fa fa-gear")
                li
                  a(class="accordion-toggle minimize-box",
                  data-toggle="collapse",
                  data-parent="#exchangerPanel",
                  href="#collapsibleExchanger")
                    i(class="fa fa-chevron-up")
          div(id="collapsibleExchanger", class="panel-collapse collapse in")
            div.panel-body
              div.form-horizontal
                div(class="input-group",id="exchangers-box")
                div(class="stats",id="exchangers-stats")
                  div(class="jumbotron" , style="display:none")
                    h1
                      | Gracias satoshi ....
  div(class="modal fade", id="configModal", tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(type="button",class="close", data-dismiss="modal", aria-hidden="true") &times;
          h4(class="modal-title", id="myModalLabel") Configuracion
        div.modal-body
          div.propertie#refreshTimer
            div.message
              | Actualizar cada
              span#refreshTimerStatus 0
              | segundos
            div.slider#refreshTimer_Slider
          div.propertie#alertUp
            div.message
              | Alertar si sube mas de
              span#alertUpStatus 0
              | &#37;
            div.slider#alertUp_Slider
          div.propertie#alertDown
            div.message
              | Alertas si baja mas de
              span#alertDownStatus 0
              | &#37;
            div.slider#alertDown_Slider






//                  table.table
//                    thead
//                      tr
//                        th(width="15%") #
//                        th(width="20%") Exchanger
//                        th(width="15%") Precio
//                        th(width="15%") Compra
//                        th(width="15%") Venta
//                        th(width="15%") Fecha
//                    tbody
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td 500
//                          span.currency $
//                        td
//                          span.up
//                            | 506
//                            span.currency $
//                            span.diff
//                              i(class="fa fa-arrow-up")
//                              | (+3.5%)
//                        td 502
//                          span.currency $
//                        td 10/05/1979
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td
//                          span.down
//                            |500
//                            span.currency $
//                            span.diff
//                              i(class="fa fa-arrow-down")
//                              | (-3.5%)
//                        td 503
//                          span.currency $
//                        td 502
//                          span.currency $
//                        td 10/05/1979
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td 500
//                          span.currency $
//                        td 503
//                          span.currency $
//                        td 502
//                          span.currency $
//                        td 10/05/1979
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td 500
//                          span.currency $
//                        td 503
//                          span.currency $
//                        td 502
//                          span.currency $
//                        td 10/05/1979
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td 500
//                          span.currency $
//                        td 503
//                          span.currency $
//                        td 502
//                          span.currency $
//                        td 10/05/1979