extends templates/html

block env
  - var title = 'Dashboard'
  - var icon = 'fa fa-dashboard'

block css
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/chosen/1.0/chosen.css")

block content
  div.row
    div.col-lg-12
      div(class="panel-group",id="exchangerPanel")
        div(class="panel panel-default")
          div(class="panel-heading clearfix")
            div(class="icons")
              i(class="fa fa-btc")
            div(class="panel-title") itcoins Exchanger
            div(class="toolbar")
              ul.nav
                li
                  span.message
                    Update in 3s...
                li
                  a(id="",class="")
                    i(class="fa fa-refresh")
                li
                  a(class="accordion-toggle minimize-box",
                  data-toggle="collapse",
                  data-parent="#exchangerPanel",
                  href="#collapsibleExchanger")
                    i(class="fa fa-chevron-up")
          div(id="collapsibleExchanger", class="panel-collapse collapse in")
            div.panel-body
              form.form-horizontal
                div(class="input-group",id="exchangers-box")
                div.stats
                  div.jumbotron
                    h1
                      i(class="fa fa-btc")
                      i(class="fa fa-eur")
                      i(class="fa fa-usd")




//                  table.table
//                    thead
//                      tr
//                        th(width="15%") #
//                        th(width="20%") Exchanger
//                        th(width="15%") Precio
//                        th(width="15%") Compra
//                        th(width="15%") Venta
//                        th(width="15%") Fecha
//                    tbody
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td 500
//                          span.currency $
//                        td
//                          span.up
//                            | 506
//                            span.currency $
//                            span.diff
//                              i(class="fa fa-arrow-up")
//                              | (+3.5%)
//                        td 502
//                          span.currency $
//                        td 10/05/1979
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td
//                          span.down
//                            |500
//                            span.currency $
//                            span.diff
//                              i(class="fa fa-arrow-down")
//                              | (-3.5%)
//                        td 503
//                          span.currency $
//                        td 502
//                          span.currency $
//                        td 10/05/1979
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td 500
//                          span.currency $
//                        td 503
//                          span.currency $
//                        td 502
//                          span.currency $
//                        td 10/05/1979
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td 500
//                          span.currency $
//                        td 503
//                          span.currency $
//                        td 502
//                          span.currency $
//                        td 10/05/1979
//                      tr
//                        td
//                          img(src="https://www.mtgox.com/favicon.ico", alt="Mt.Gox")
//                        td Mt.Gox
//                        td 500
//                          span.currency $
//                        td 503
//                          span.currency $
//                        td 502
//                          span.currency $
//                        td 10/05/1979