!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//if gt IE 8
  <!--> <html class="no-js"> <!--
block env
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  title Table Update
  meta(name="description", content= app.description)
  meta(name="author", content= app.author)
  meta(name="keywords", content= app.keywords)
  meta(name="revisit-after", content="")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(href="images/favicon.ico", title="Icon", type="image/x-icon", rel="icon")
  link(href="images/favicon.ico", title="Icon", type="image/x-icon", rel="shortcut icon")


  block css
  // build:css(.tmp) styles/main.css
  link(rel="stylesheet", href="styles/coinspider.css")
  // endbuild
  link(rel="stylesheet", href= api.cdn.fontAwesome)
  link(rel="stylesheet", href= api.cdn.fontUbuntu)
  include templates/scripts_head

body
  //if lt IE 10
    p.browsehappy You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

  table(border="0", cellspacing="1", cellpadding="1", class="tborder", id="coinspider", style="background-color : white;" )
    thead
      tr
        td(class="thead", colspan="1")
          div
            strong Cotizaciones
        td(class="coinspider-info", colspan="3")
          a(href="http://goo.gl/NHpiMw", target="_blank", alt="Powered by CoinSpider")
            i(class="fa fa-info-circle",title="Powered by CoinSpider",alt="Powered by CoinSpider")
    tbody
      tr

  // build:js scripts/main.js
  script(src=api.cdn.requirejs, data-main="scripts/mainforo")
  // endbuild