<span id="<%= symbol %><%= currency %>" class="currency">
  <span class="price <%= price.css.price %> <%= price.css.alert %>">
      <% if (price.last < -1) { %>
        Offline
      <% } else { %>
        <span class="value">
        <%= price.last %>
        <span class="key">
        <%= currency %>
        </span>
      <% } %>
    </span>
  </span>

  <span class="diff <%= price.css.alert %>"><i class="fa fa-arrow-<%= price.css.alert %>"></i>( <%= price.css.percentage %> %)</span></span>
</span>